<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] %d{yyyy-MM-dd HH:mm:ss} [%F] [%L] - %msg%n" />
        </Console>

        <File name="LogToFile" fileName="logs/log.log">
            <PatternLayout>
                <Pattern>[%level] %d{yyyy-MM-dd HH:mm:ss} [%F] [%L] - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="LOG_FILE" level="info" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>